<div class="flex menu">
  <div class="dropdown">
    <h2>File</h2>
    <div class="content">
      <p>New</p>
      <p>Export</p>
    </div>
  </div>
  <div class="dropdown">
    <h2>Edit</h2>
    <div class="content">
      <p>Flip Horizontally</p>
      <p>Flip Vertically</p>
    </div>
  </div>
</div>
