<div class="flex toolbar horizontal">
  <!-- clear option -->
  <div class="section flex col">
    <h1 class='centered item full' id='clearAll'>&#10060;</h1>
    <h2>Clear</h2>
  </div>
  <!-- tool list section -->
  <div class="section flex col">
    <div class="tool_list full">
      <div class="item flex">
        <p>Pencil</p>
        <p>&#128393;</p>
      </div>
    </div>
    <h2>Tools</h2>
  </div>
  <!-- color choice section -->
  <div class="section flex col">
    <div class="flex full">
      <div class="flex col color_picker">
        <input type="color" name="primary" value="#000000" class='color' autocomplete="off" id='primaryColor'>
        <p>Pri. Color</p>
      </div>
      <div class="flex col color_picker">
        <input type="color" name="primary" value="#FFFFFF" class='color' autocomplete="off" id="alternateColor">
        <p>Alt. Color</p>
      </div>
    </div>
    <h2>Colors</h2>
  </div>
  <!-- opacity -->
  <div class="section flex col">
    <input type="range" name="opacity" id="opacity" min="0" max="100" value="100">
    <h2>Opacity</h2>
  </div>
</div>
