:root {
  --icon: #AAA;
  --iconHi: #CCC;
}

section div.flex {
  justify-content: space-between;
}

input {
  width: 100px;
}

.buttons {
  background: rgba(0, 0, 0, 0.4);
  color: var(--fontColor);
  display: flex;
}

.ipane {
  background: var(--plateColor);
}

.workspace {
  overflow: hidden;
  flex:1;
}

.paper {
  height: 3508px;
  width: 2480px;
  background: white;
  transform-origin: 0 0;
  transform: scale(0.3);
  cursor: crosshair;
}
.paper canvas {
  position: absolute;
  z-index: 1;
  touch-action: none;
}

.icons {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background: var(--icon);
}

.icons img {
  display: none;
  width: 32px;
  height: 32px;
}

.icons img.active {
  display: block;
}


.icon {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background: var(--icon);
  cursor: pointer;
}


.buttons .icon {
  padding: 2px;
}


.icon:hover, .icon.active {
  background:  var(--iconHi);
}

.icon img, .buttons img {
  width: 32px;
  height: 32px;
}

.icon p {
  color: black;
}


.cursor {
  position: absolute;
}

.section, section {
  border-bottom: 1px solid black;
  display: flex;
  flex-flow: column nowrap;
}


.palette {
  margin: 0;
  padding: 3px;
  width: 220px;
}

div.color {
  border: 1px solid black;
  width: 32px;
  height: 32px;
  margin: 1px;
  display: inline-flex;
}

div.color.selected {
  border: 1px dashed white;
}

.preview {
  height: 40px;
  background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
  display: flex;
}

.gradient {
  flex:1;
  background: linear-gradient(-90deg, #000000, transparent)
}


section > h1 {
  background: var(--icon);
  color: #333;
}

section > section {
  display: none;
}

section > section.active {
  display: flex;
}

.cursorcontainer {
  display: none;
}

.cursorcontainer, .cursorcontainer > * {
  position: absolute;
}

.cursorcontainer > svg {
  transform: translate(-50%, -50%);
}

.cursorcontainer > img {
  transform: translate(0%, -100%);
}
